header {
    font-size: 50px; 
    color: yellow; 
    background-color: royalblue; 
    text-align: center; 
    padding: .5em; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
nav ul{
    list-style: none;
    margin: 0 2px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-size: x-large;
}
#topcolor { 
    background-color: royalblue; 
    padding-bottom: 1em;
    display: block;
    margin: -10px;
}
#buttonSMpos {
    float: right;
    padding-right: .25em;
}
#buttonSM {
    height: 40px;
    width: 40px;
    text-align: center;
    display: inline-block;
    color: royalblue;
    font-size: x-large;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body {
    background-color: skyblue;
    overflow: auto;
}
#subtext {
    font-size: small;
    color: white;
    text-align: center;
    margin-left: 7em;
}
#leftpos {
    position: relative;
    left: 100px;
    width:30%;
    padding-top: 5em;
}
img {
    max-width: 100%;
    height:auto;
    width:auto;
}
#desc {
    font-size: 1.5em;
}