header {
    font-size: 50px; 
    color: yellow; 
    background-color: royalblue; 
    text-align: center; 
    padding: .5em; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
nav ul{
    list-style: none;
    margin: 0 2px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-size: x-large;
    background-color: royalblue;
}
.topcolor { 
    background-color: royalblue; 
    padding-bottom: 1em;
    display: block;
    margin: -10px;
}
#buttonSMpos {
    float: right;
    padding-right: .25em;
}
/*SM stand for social media in this context*/
#buttonSM1 {
    height: 40px;
    width: 40px;
    text-align: center;
    display: inline-block;
    color: royalblue;
    font-size: x-large;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#buttonSM2 {
    height: 40px;
    width: 40px;
    text-align: center;
    display: inline-block;
    color: royalblue;
    font-size: x-large;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body {
    background-color: rgb(99, 201, 241);
    overflow: auto;
}
#subtext {
    font-size: small;
    color: white;
    text-align: center;
    margin-left: 7em;
}
/*Intended to position two divs next to eachother*/
.leftpos {
    position: relative;
    left: 100px;
    width:40%;
    padding-top: 5em;
    display:inline-block;
}
.rightpos {
    position:absolute;
    right: 100px;
    width:30%;
    padding-top: 5em;
    display:inline-block;
}
/*Intended to position the two divs in footer for Hours/Contact info - Removes the padding-top*/
.leftposfoot {
    position: relative;
    left: 50px;
    width:40%;
    display:inline-block;
}
.rightposfoot {
    position:absolute;
    right: 50px;
    width:40%;
    display:inline-block;
}
img {
    max-width: 100%;
    height:auto;
    width:auto;
}
#desc {
    font-size: 1.25em;
}
.centert {
    text-align: center;
}
.container {
    padding: 20px;
    justify-content: center;
}
input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=submit] {
    background-color: royalblue;
    color: white;
    border: none;  
}
input[type=submit]:hover {
    opacity: 0.8;
}
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.popupcontent {
    background-color: lightgray;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-size: large;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#storefront {
    height: 30em;
}
.fill {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('images/storefront.jpg');
    height: 30em;
}
.majleft{
    width: 50%;
    margin-left: 50px;
    display: inline-block;
}
.minright {
    width: 20%;
    float:right;
    border-style: dashed;
    border-top: none;
    right:40px;
}
figcaption {
    font-size: x-large;
}
footer {
    text-align: center;
}

